.component-container{
    padding: 24px;
    max-width: 400px;
    margin: 24px auto;
    border: 1px solid #70707040;
    border-radius: 6px;
    background-color: var(--bs-gray-100);
}
.form-label {
    font-weight: 600;
}
.form-control::placeholder {
    opacity: 0.5;
}
.form-field{
    margin-bottom: 16px;
}
button[type="submit"]{
    margin-top: 2rem;
}