<div class="component-container shadow-sm">
    <div class="form-container">
        <form [formGroup]="customerForm" (ngSubmit)="submit()" autocomplete="off">

            <!-- first input -->
            <div class="form-field">
                <label class="form-label">Only Numbers *</label>
                <input class="form-control form-control-sm has-validation"
                    type="text"
                    autocomplete="off"
                    formControlName="onlyNumbers"
                    appNumberValidation
                    #autoFocus>
                <small class="invalid-feedback">
                    From 3 to 12 digits are allowed
                </small>
            </div>

            <!-- second input -->
            <div class="form-field">
                <label class="form-label">Only Persian characters *</label>
                <input class="form-control form-control-sm has-validation"
                    type="text"
                    autocomplete="off"
                    formControlName="onlyPersianChars">
                <small class="invalid-feedback">
                    From 3 to 32 characters are allowed
                </small>
            </div>

            <!-- third input -->
            <div class="form-field">
                <label class="form-label">Select User One *</label>
                <app-select-user [users]="userList$ | async" formControlName="selectUserOne"></app-select-user>
            </div>

            <!-- fourth input -->
            <div class="form-field">
                <label class="form-label">Select User Two *</label>
                <app-select-user [users]="userListSecond$ | async" [filterByApi]="true" (searchValue)="searchValue($event)" formControlName="selectUserTwo"></app-select-user>
            </div>

            <button type="submit" class="btn btn-sm btn-primary btn-block" [disabled]="customerForm.invalid">Submit</button>  
        </form>  
    </div>
</div>






     

